{%- case icon -%}
  {%- when 'desktop' -%}
  <div class="ct_store_header_desktop ct_main_head" style="display:none">
    <div class="ct_store_header" data-lat="" data-long="">
      <div class="ct_wrap_store">
        <a href="https://www.kushals.com/pages/stores">
        <div class="ct_store_title">
          <div class="ct_dot"></div>
          <span class="ct_select_store"><b class="ct_stores">4 stores</b>&nbsp;nearby</span>
          <span class="ct_no_store" style="display:none"><b class="ct_stores">90+ Stores</b>&nbsp; In India</span>
        </div>
        </a>
        <div class="ct_store_middle"></div>
      </div>
      <div class="ct_store_edit ct_edit_btn">
        Shipping to&nbsp;
         <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.2696 11.3609C9.64542 11.3609 9.03528 11.1759 8.51631 10.8291C7.99734 10.4823 7.59285 9.98945 7.35399 9.4128C7.11514 8.83616 7.05264 8.20163 7.17441 7.58946C7.29618 6.97729 7.59674 6.41498 8.03809 5.97363C8.47943 5.53229 9.04175 5.23172 9.65391 5.10996C10.2661 4.98819 10.9006 5.05068 11.4773 5.28954C12.0539 5.5284 12.5468 5.93288 12.8935 6.45185C13.2403 6.97082 13.4254 7.58097 13.4254 8.20513C13.4244 9.04179 13.0916 9.8439 12.5 10.4355C11.9084 11.0271 11.1062 11.3599 10.2696 11.3609ZM10.2696 6.31164C9.89509 6.31164 9.529 6.42269 9.21762 6.63075C8.90623 6.83881 8.66354 7.13453 8.52023 7.48052C8.37691 7.82651 8.33942 8.20723 8.41248 8.57453C8.48554 8.94183 8.66588 9.27922 8.93068 9.54402C9.19549 9.80883 9.53288 9.98917 9.90018 10.0622C10.2675 10.1353 10.6482 10.0978 10.9942 9.95448C11.3402 9.81117 11.6359 9.56847 11.844 9.25709C12.052 8.94571 12.1631 8.57962 12.1631 8.20513C12.1626 7.7031 11.9629 7.22177 11.6079 6.86678C11.2529 6.5118 10.7716 6.31214 10.2696 6.31164Z" fill="#C71D22"/> <path d="M10.9892 18.0859C10.6123 18.5304 9.92658 18.5304 9.54968 18.0859L4.94497 12.6553C4.87098 12.561 4.79777 12.4661 4.72532 12.3707C3.81581 11.1726 3.32446 9.70919 3.32667 8.20499C3.32667 6.36365 4.05814 4.59772 5.36016 3.2957C6.66219 1.99368 8.42811 1.26221 10.2694 1.26221C12.1108 1.26221 13.8767 1.99368 15.1787 3.2957C16.4808 4.59772 17.2122 6.36365 17.2122 8.20499C17.2144 9.70851 16.7233 11.1712 15.8142 12.3688L15.8136 12.3707C15.8136 12.3707 15.6242 12.6193 15.5958 12.6528L10.9892 18.0859ZM5.73266 11.6101C5.73392 11.6101 5.88035 11.8045 5.9138 11.8462L10.2694 16.9832L14.6308 11.8392C14.6585 11.8045 14.8069 11.6082 14.8069 11.6082C15.5498 10.6294 15.9514 9.43388 15.9499 8.20499C15.9499 6.69844 15.3514 5.25359 14.2861 4.1883C13.2208 3.12301 11.776 2.52453 10.2694 2.52453C8.7629 2.52453 7.31805 3.12301 6.25276 4.1883C5.18747 5.25359 4.58899 6.69844 4.58899 8.20499C4.58767 9.43464 4.98901 10.6308 5.73266 11.6101Z" fill="#C71D22"/>
            </svg>
        <span class="ct_location"><span class="ct_state"></span><span class="ct_pincode"></span></span>
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.19751 2.24758L1.75753 7.49328C1.5479 7.69543 1.34875 8.08961 1.30683 8.37262L1.01334 10.3739C0.908526 11.1016 1.4326 11.607 2.18728 11.5059L4.26263 11.2229C4.55612 11.1825 4.96493 10.9904 5.17456 10.7883L10.6145 5.54257C11.5474 4.64302 11.9981 3.59186 10.6145 2.25769C9.23097 0.913418 8.14086 1.33793 7.19751 2.24758Z" fill="white" stroke="#292D32" stroke-width="0.892796" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/> <path d="M6.4209 2.99512C6.88209 4.58197 8.17134 5.83527 9.82744 6.27999L6.4209 2.99512Z" fill="white"/> <path d="M6.4209 2.99512C6.88209 4.58197 8.17134 5.83527 9.82744 6.27999" stroke="#D60227" stroke-width="0.892796" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>


  <div class="ct_store_detected">
      <div class="ct_poligan"></div>

      <div class="ct_store_detected_inner">
        <div class="ct_store_left">
          <div class="ct_store_detected_head">Location Detected</div>
          <div class="ct_store_detected_text popup_success_address"></div>
        </div>
        <div class="ct_store_right">
          <svg
            width="34"
            height="34"
            viewBox="0 0 34 34"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17 0.375C21.4092 0.375 25.6379 2.12656 28.7556 5.24435C31.8734 8.36214 33.625 12.5908 33.625 17C33.625 21.4092 31.8734 25.6379 28.7556 28.7556C25.6379 31.8734 21.4092 33.625 17 33.625C12.5908 33.625 8.36214 31.8734 5.24435 28.7556C2.12656 25.6379 0.375 21.4092 0.375 17C0.375 12.5908 2.12656 8.36214 5.24435 5.24435C8.36214 2.12656 12.5908 0.375 17 0.375ZM14.929 20.2799L11.2359 16.5844C11.1035 16.452 10.9463 16.347 10.7733 16.2753C10.6003 16.2036 10.4149 16.1668 10.2277 16.1668C10.0405 16.1668 9.85505 16.2036 9.68206 16.2753C9.50908 16.347 9.3519 16.452 9.2195 16.5844C8.95211 16.8518 8.8019 17.2144 8.8019 17.5926C8.8019 17.9707 8.95211 18.3334 9.2195 18.6007L13.922 23.3033C14.054 23.4363 14.2111 23.5419 14.3841 23.614C14.5572 23.6861 14.7427 23.7232 14.9302 23.7232C15.1176 23.7232 15.3032 23.6861 15.4763 23.614C15.6493 23.5419 15.8064 23.4363 15.9384 23.3033L25.6759 13.5634C25.81 13.4315 25.9168 13.2744 25.9899 13.1011C26.0631 12.9278 26.1012 12.7417 26.102 12.5536C26.1029 12.3655 26.0665 12.1791 25.995 12.0051C25.9235 11.8312 25.8182 11.6731 25.6853 11.54C25.5524 11.4069 25.3944 11.3014 25.2205 11.2297C25.0466 11.158 24.8602 11.1214 24.6721 11.122C24.484 11.1227 24.2979 11.1606 24.1245 11.2335C23.9511 11.3064 23.7939 11.413 23.6619 11.547L14.929 20.2799Z"
              fill="#28BE7F"
            />
          </svg>
        </div>
      </div>
    </div>

  
  </div>
  

  {%- when 'mobile' -%}
    <!-- <div class="ct_store_header_mobile ">
    <div class="ct_store_header ">
      <div class="ct_store_title">
        <div class="ct_dot"></div>
        <span class="ct_near_by"><b>4 stores</b>&nbsp;nearby</span>
      </div>
      <div class="ct_store_edit">
        Shipping to&nbsp;
        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.2696 11.3609C9.64542 11.3609 9.03528 11.1759 8.51631 10.8291C7.99734 10.4823 7.59285 9.98945 7.35399 9.4128C7.11514 8.83616 7.05264 8.20163 7.17441 7.58946C7.29618 6.97729 7.59674 6.41498 8.03809 5.97363C8.47943 5.53229 9.04175 5.23172 9.65391 5.10996C10.2661 4.98819 10.9006 5.05068 11.4773 5.28954C12.0539 5.5284 12.5468 5.93288 12.8935 6.45185C13.2403 6.97082 13.4254 7.58097 13.4254 8.20513C13.4244 9.04179 13.0916 9.8439 12.5 10.4355C11.9084 11.0271 11.1062 11.3599 10.2696 11.3609ZM10.2696 6.31164C9.89509 6.31164 9.529 6.42269 9.21762 6.63075C8.90623 6.83881 8.66354 7.13453 8.52023 7.48052C8.37691 7.82651 8.33942 8.20723 8.41248 8.57453C8.48554 8.94183 8.66588 9.27922 8.93068 9.54402C9.19549 9.80883 9.53288 9.98917 9.90018 10.0622C10.2675 10.1353 10.6482 10.0978 10.9942 9.95448C11.3402 9.81117 11.6359 9.56847 11.844 9.25709C12.052 8.94571 12.1631 8.57962 12.1631 8.20513C12.1626 7.7031 11.9629 7.22177 11.6079 6.86678C11.2529 6.5118 10.7716 6.31214 10.2696 6.31164Z" fill="#C71D22"/> <path d="M10.9892 18.0859C10.6123 18.5304 9.92658 18.5304 9.54968 18.0859L4.94497 12.6553C4.87098 12.561 4.79777 12.4661 4.72532 12.3707C3.81581 11.1726 3.32446 9.70919 3.32667 8.20499C3.32667 6.36365 4.05814 4.59772 5.36016 3.2957C6.66219 1.99368 8.42811 1.26221 10.2694 1.26221C12.1108 1.26221 13.8767 1.99368 15.1787 3.2957C16.4808 4.59772 17.2122 6.36365 17.2122 8.20499C17.2144 9.70851 16.7233 11.1712 15.8142 12.3688L15.8136 12.3707C15.8136 12.3707 15.6242 12.6193 15.5958 12.6528L10.9892 18.0859ZM5.73266 11.6101C5.73392 11.6101 5.88035 11.8045 5.9138 11.8462L10.2694 16.9832L14.6308 11.8392C14.6585 11.8045 14.8069 11.6082 14.8069 11.6082C15.5498 10.6294 15.9514 9.43388 15.9499 8.20499C15.9499 6.69844 15.3514 5.25359 14.2861 4.1883C13.2208 3.12301 11.776 2.52453 10.2694 2.52453C8.7629 2.52453 7.31805 3.12301 6.25276 4.1883C5.18747 5.25359 4.58899 6.69844 4.58899 8.20499C4.58767 9.43464 4.98901 10.6308 5.73266 11.6101Z" fill="#C71D22"/>
        </svg>
        <span>Bangalore</span>
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.19751 2.24758L1.75753 7.49328C1.5479 7.69543 1.34875 8.08961 1.30683 8.37262L1.01334 10.3739C0.908526 11.1016 1.4326 11.607 2.18728 11.5059L4.26263 11.2229C4.55612 11.1825 4.96493 10.9904 5.17456 10.7883L10.6145 5.54257C11.5474 4.64302 11.9981 3.59186 10.6145 2.25769C9.23097 0.913418 8.14086 1.33793 7.19751 2.24758Z" fill="white" stroke="#292D32" stroke-width="0.892796" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/> <path d="M6.4209 2.99512C6.88209 4.58197 8.17134 5.83527 9.82744 6.27999L6.4209 2.99512Z" fill="white"/> <path d="M6.4209 2.99512C6.88209 4.58197 8.17134 5.83527 9.82744 6.27999" stroke="#D60227" stroke-width="0.892796" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
    </div> -->
{% endcase %}

