<div class="location-popup ct_location_popup" style="display:none">
  <div class="popup-bg"></div>
  <div class="popup-content">
    <div class="popup_success" style="display:none">
      <div class="popup-success-inner">
      <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17 0.375C21.4092 0.375 25.6379 2.12656 28.7556 5.24435C31.8734 8.36214 33.625 12.5908 33.625 17C33.625 21.4092 31.8734 25.6379 28.7556 28.7556C25.6379 31.8734 21.4092 33.625 17 33.625C12.5908 33.625 8.36214 31.8734 5.24435 28.7556C2.12656 25.6379 0.375 21.4092 0.375 17C0.375 12.5908 2.12656 8.36214 5.24435 5.24435C8.36214 2.12656 12.5908 0.375 17 0.375ZM14.929 20.2799L11.2359 16.5844C11.1035 16.452 10.9463 16.347 10.7733 16.2753C10.6003 16.2036 10.4149 16.1668 10.2277 16.1668C10.0405 16.1668 9.85505 16.2036 9.68206 16.2753C9.50908 16.347 9.3519 16.452 9.2195 16.5844C8.95211 16.8518 8.8019 17.2144 8.8019 17.5926C8.8019 17.9707 8.95211 18.3334 9.2195 18.6007L13.922 23.3033C14.054 23.4363 14.2111 23.5419 14.3841 23.614C14.5572 23.6861 14.7427 23.7232 14.9302 23.7232C15.1176 23.7232 15.3032 23.6861 15.4763 23.614C15.6493 23.5419 15.8064 23.4363 15.9384 23.3033L25.6759 13.5634C25.81 13.4315 25.9168 13.2744 25.9899 13.1011C26.0631 12.9278 26.1012 12.7417 26.102 12.5536C26.1029 12.3655 26.0665 12.1791 25.995 12.0051C25.9235 11.8312 25.8182 11.6731 25.6853 11.54C25.5524 11.4069 25.3944 11.3014 25.2205 11.2297C25.0466 11.158 24.8602 11.1214 24.6721 11.122C24.484 11.1227 24.2979 11.1606 24.1245 11.2335C23.9511 11.3064 23.7939 11.413 23.6619 11.547L14.929 20.2799Z" fill="#28BE7F"></path>
      </svg>
      <div class="popup_success_address">Bangalore, Karnataka, 560072</div>
    </div>
    </div>
        

    <div class="popup-content-inner">
     <svg class="loce_icon" width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M28.0108 31.1978C26.2968 31.1978 24.6213 30.6896 23.1962 29.7373C21.7711 28.7851 20.6603 27.4316 20.0044 25.8481C19.3485 24.2646 19.1769 22.5222 19.5112 20.8411C19.8456 19.1601 20.671 17.6159 21.883 16.404C23.0949 15.192 24.6391 14.3666 26.3201 14.0322C28.0012 13.6979 29.7436 13.8695 31.3271 14.5254C32.9106 15.1813 34.2641 16.2921 35.2163 17.7172C36.1686 19.1423 36.6768 20.8178 36.6768 22.5318C36.6741 24.8293 35.7602 27.0319 34.1356 28.6566C32.511 30.2812 30.3083 31.1951 28.0108 31.1978ZM28.0108 17.3321C26.9824 17.3321 25.9771 17.6371 25.122 18.2084C24.2669 18.7798 23.6005 19.5919 23.2069 20.542C22.8134 21.4921 22.7104 22.5375 22.9111 23.5462C23.1117 24.5548 23.6069 25.4813 24.3341 26.2085C25.0613 26.9356 25.9878 27.4309 26.9964 27.6315C28.005 27.8321 29.0505 27.7291 30.0006 27.3356C30.9507 26.9421 31.7628 26.2756 32.3341 25.4205C32.9055 24.5655 33.2104 23.5602 33.2104 22.5318C33.209 21.1532 32.6608 19.8314 31.6859 18.8566C30.7111 17.8818 29.3894 17.3335 28.0108 17.3321Z" fill="#C41011"/> <path d="M29.9881 49.6653C28.9531 50.886 27.0701 50.886 26.0351 49.6654L13.3903 34.7527C13.1871 34.4938 12.986 34.2332 12.7871 33.971C10.2895 30.681 8.94026 26.6625 8.94631 22.5319C8.94631 17.4754 10.955 12.6261 14.5304 9.05065C18.1058 5.47521 22.9552 3.46655 28.0116 3.46655C33.068 3.46655 37.9174 5.47521 41.4928 9.05065C45.0682 12.6261 47.0769 17.4754 47.0769 22.5319C47.083 26.6606 45.7343 30.6773 43.2378 33.9658L43.2361 33.971C43.2361 33.971 42.7161 34.6539 42.6382 34.7458L29.9881 49.6653ZM15.5533 31.8825C15.5568 31.8825 15.9589 32.4163 16.0507 32.5307L28.0116 46.6373L39.9881 32.5117C40.0643 32.4163 40.4716 31.8773 40.4716 31.8773C42.5119 29.1893 43.6145 25.9065 43.6105 22.5319C43.6105 18.3948 41.967 14.4271 39.0417 11.5018C36.1163 8.57642 32.1487 6.93297 28.0116 6.93297C23.8745 6.93297 19.9069 8.57642 16.9815 11.5018C14.0562 14.4271 12.4127 18.3948 12.4127 22.5319C12.4091 25.9086 13.5112 29.1933 15.5533 31.8825Z" fill="#272A2E"/> </svg>
    <div class="location-head">Update Your Location</div>
    <div class="location-content">To find products and delivery options near you</div>
    <div class="location-group">
      <button class="location-fetch ct_detect_location"><span>Auto Detect My Location </span> <div style="display:none" class="city_loader"></div></button>
      
      <span class="ct_error" style="display:none">Change your location settings in the browser to use current location.</span>
      <div class="loca_or">OR</div>
      <div class="location-pincode">
        <input placeholder="Enter Pincode" class="ct_pin_check" type="text" maxlength="6"  name="zipcode" pattern="\d{6}" >
        <button class="ct_pin_check_btn">Change</button>
         <div class="ct_pin_checker" style="background-color: rgb(250, 229, 229); display: none;">
            <span style="color:#000000">Enter Correct Pincode</span>
          </div>
      </div>
    </div>

    <svg class="location-popup-close"  width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M19.834 32.0765L32.0763 19.8342" stroke="#242424" stroke-width="1.94665" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M32.0763 32.0765L19.834 19.8342" stroke="#242424" stroke-width="1.94665" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
      </div>
  </div>
</div>