<style>
  .CT_collec_main .plp-det-main {
        margin: 0 auto 10px auto;
    width: calc(100% - 10px);
}

        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
  .plp-det-main {
    display: none;
    border-radius: 6px;
    padding: 5px 7px;
    border: 1px solid #E3E3E3;
}
  .plp-det-Box {
    display: flex;
 align-items: center;
    justify-content: space-between;
}
  .plp-det-logo {
    width: 75px;
}
  .plp-det-logo_img {
    width: 100%;
    height: 100%;
}
  .plp-det-head span {
    color: #535353;
        font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
  .plp-det-main_head {
    color: #333;
        font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.plp-det-head {
    line-height: normal;
    display: flex;
    flex-direction: column;
}
  .plp-det-btn a {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 29.792px;
    background: #CF2228;
    padding: 8px 17px;
}
  .plp-det-code_box {
    color: #CF2228;
    text-align: center;
        font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='78' height='23' viewBox='0 0 78 23' fill='none'%3E%3Crect x='0.624451' y='1.07251' width='76.608' height='20.77' fill='white'/%3E%3Cpath d='M0.624451 1.07251L0.624452 21.8426' stroke='%23CF2228' stroke-width='0.839547' stroke-dasharray='1.68 1.68'/%3E%3Cpath d='M77.2324 1.0726L0.624389 1.0726' stroke='%23CF2228' stroke-width='0.839547' stroke-dasharray='1.68 1.68'/%3E%3Cpath d='M77.2324 21.8425L0.624389 21.8425' stroke='%23CF2228' stroke-width='0.839547' stroke-dasharray='1.68 1.68'/%3E%3Cpath d='M77.2324 1.0726L77.2324 21.8426' stroke='%23CF2228' stroke-width='0.839547' stroke-dasharray='1.68 1.68'/%3E%3Crect x='3.22801' y='3.26042' width='71.4002' height='16.3941' fill='white' stroke='%23CF2228' stroke-width='0.419773'/%3E%3C/svg%3E");
    background-size: 100%;
    height: 30px;
    width: 104px;
    padding: 5px 12px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .plp-det-head {
    line-height: normal;
}

  @media(max-width:750px){
    /* .plp-det-main {
    display: block;
} */
  }
    @media(max-width:550px){
      .plp-det-main_head {
    font-size: 14px;
      }
      .plp-det-head span {
    font-size: 12px;
      }
      .plp-det-code_box {
    font-size: 12px;
    height: 26px;
    width: 88px;
    padding: 5px 8px;
      }
      .plp-det-logo {
    width: 65px;
}
    }
      @media(max-width:480px){
        .plp-det-logo {
    width: 60px;
}
        .plp-det-main_head {
    font-size: 12px;
}
        .plp-det-head span {
    font-size: 11px;
}
        .plp-det-code_box {
    font-size: 11px;
    height: 22px;
    width: 77px;
    padding: 5px 8px;
}
        .plp-det-btn a {
    font-size: 12px;
    padding: 7px 12px;
}
      }
  @media(max-width:430px){
    .plp-det-logo {
    width: 55px;
}
    .plp-det-main_head {
    font-size: 11px;
}
    .plp-det-head span {
    font-size: 10px;
}
    .plp-det-code_box {
    font-size: 10px;
    height: 22px;
    width: 70px;
    padding: 4px 8px 5px 8px;
}
    .plp-det-btn a {
    font-size: 11px;
    padding: 6px 10px;
}
  }  
  
  @media(max-width:400px){
    .plp-det-logo {
    width: 45px;
}
    .plp-det-main_head {
    font-size: 11px;
    }
    .plp-det-head span {
    font-size: 9px;
    }
    .plp-det-code_box {
    height: 19px;
    width: 64px;
      font-size: 8px;
    }
    .plp-det-btn a {
    font-size: 10px;
    padding: 6px 8px;
}
  }
</style>


<div class="plp-det-main">
  <div class="plp-det-inner">
    <div class="plp-det-Box">
      <div class="plp-det-logo">
        <svg class="plp-det-logo_img" xmlns="http://www.w3.org/2000/svg" width="61" height="59" viewBox="0 0 61 59" fill="none">
          <rect x="0.284302" y="0.393127" width="60.235" height="58.1289" rx="3.11594" fill="#CF2228"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7603 27.5902L19.7559 32.4536C18.0437 32.5239 18.1462 31.3546 18.1462 31.3546L18.1503 25.8041C16.0492 25.8159 16.0944 27.6513 16.0944 27.6513L16.1095 31.3154C16.1473 33.0786 18.288 33.0705 18.288 33.0705L21.6449 33.066L21.6638 25.8318C19.6312 25.79 19.76 27.5906 19.76 27.5902" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M25.6541 25.837C25.6541 25.837 24.0059 25.894 24.0814 27.4278L24.0625 31.6765C24.0625 31.6765 24.0951 32.4592 22.6934 32.4592L22.6897 33.0627L24.4551 33.0705C24.4551 33.0705 26.0559 33.1201 26.1029 31.5944L26.1407 27.346C26.1407 27.346 26.1129 26.2881 27.6567 26.2055L27.656 25.82L25.6541 25.837Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M32.6905 25.8407L30.7459 25.8167L30.7748 24.1737C30.7748 24.1737 30.8969 22.3006 28.7529 22.3139L28.7722 33.0416C28.7722 33.0416 30.6727 33.2333 30.7929 31.3202L30.7748 26.398H31.4375C31.4375 26.398 32.4189 26.3902 32.3656 27.497L32.4033 33.0254C32.4033 33.0254 34.2439 33.0428 34.3764 31.3861L34.4337 27.1858C34.4337 27.1858 34.5188 25.9554 32.6905 25.8407Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M50.1849 25.837C50.1849 25.837 48.5375 25.894 48.613 27.4278L48.5937 31.6766C48.5937 31.6766 48.6255 32.4592 47.225 32.4592L47.2209 33.0623L48.9863 33.0701C48.9863 33.0701 50.5864 33.1193 50.6341 31.594L50.6715 27.3456C50.6715 27.3456 50.643 26.2877 52.1864 26.2063V25.8207L50.1845 25.837H50.1849Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M44.9065 31.6599V22.2772C42.5353 22.1455 42.6678 24.2355 42.6678 24.2355L42.7059 31.2332C42.7348 33.005 44.3533 33.0705 44.3533 33.0705H46.232L46.2457 32.4581C44.8355 32.5743 44.9065 31.6599 44.9065 31.6599Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M48.1074 21.9631L48.1026 21.0365C48.1026 21.0365 46.706 20.9381 46.6483 21.8073L46.6579 22.7753C46.6579 22.7753 48.0319 23.0129 48.1074 21.9631Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M41.1671 31.8168L41.1842 27.3952C41.1842 27.3952 41.283 25.803 39.4983 25.8156C37.6263 25.8289 37.3683 25.8037 37.3683 25.8037C37.3683 25.8037 35.5315 25.7634 35.5504 27.4933L35.513 31.2662C35.513 31.2662 35.4179 33.0131 37.9371 33.0542L41.1627 33.0146V33.0117L42.1185 33.0161L42.123 32.4596C42.1096 32.4577 41.2515 32.5184 41.1671 31.8168ZM39.1834 32.4585C39.1834 32.4585 37.5807 32.5917 37.5926 31.3195L37.6285 27.5758C37.6285 27.5758 37.6118 26.9975 37.7043 26.7022C37.8464 26.364 38.3427 26.3447 38.8267 26.4191C38.8267 26.4191 39.1393 26.462 39.1675 26.8742C39.2004 27.3534 39.1834 32.4581 39.1834 32.4581" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9563 27.7271C13.9069 27.6172 14.234 26.1053 14.234 26.1053L15.5173 22.2513C13.662 22.0744 13.061 23.828 13.061 23.828L12.1463 26.1745C11.861 27.0748 11.199 27.4452 11.199 27.4452H10.6469L10.658 22.2665C8.8611 22.2583 8.72049 23.7403 8.69311 24.1999L8.61725 33.0431C10.6639 33.1367 10.6388 31.2151 10.6388 31.2151L10.6454 28.0113H11.199C11.199 28.0113 11.8614 28.3821 12.1463 29.2828L13.0029 31.4334C13.0029 31.4334 13.6039 33.187 15.4596 33.0101L14.234 29.3523C14.234 29.3523 13.9058 27.8326 12.9485 27.729C12.9515 27.729 12.9533 27.7282 12.9556 27.7275H12.9563V27.7271Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M25.3919 37.1357V36.1285C25.3919 35.4569 25.0751 35.3448 24.7391 35.3448C24.5153 35.3448 24.2729 35.3825 24.18 35.4754C24.0864 35.5686 24.0864 35.6804 24.0864 35.8114H24.254C24.3103 35.5686 24.4594 35.4939 24.6644 35.4939C24.8883 35.4939 25.0559 35.6056 25.0559 36.1281H24.9438C24.4401 36.1281 23.9931 36.2399 23.9931 36.6499C23.9931 37.0599 24.3284 37.1731 24.5338 37.1731C24.8135 37.1731 24.9811 37.0602 25.0559 36.967H25.0748L25.205 37.135H25.3915L25.3919 37.1357ZM25.0562 36.7812C24.9815 36.8934 24.8883 37.0051 24.7018 37.0051C24.5153 37.0051 24.3476 36.8934 24.3476 36.6502C24.3476 36.4267 24.5715 36.2776 24.9441 36.2776H25.0562V36.7812ZM27.2195 36.688C27.2195 36.4271 27.0519 36.2965 26.7347 36.1659L26.5109 36.0722C26.3244 35.9942 26.2122 35.8865 26.2122 35.7555C26.2122 35.606 26.3429 35.4942 26.5852 35.4942C26.8839 35.4942 27.0515 35.6434 27.0889 35.8861H27.1636C27.1636 35.6996 27.1636 35.5875 27.0707 35.4942C26.9771 35.401 26.7906 35.3448 26.5112 35.3448C26.1567 35.3448 25.8955 35.5127 25.8955 35.8299C25.8955 36.0722 26.0635 36.218 26.3432 36.3335L26.5671 36.4271C26.7906 36.52 26.9024 36.6132 26.9024 36.7627C26.9024 36.9122 26.7721 37.0236 26.4924 37.0236C26.1752 37.0236 26.0076 36.8745 25.9699 36.6321H25.8951C25.8951 36.8186 25.8951 36.9304 25.9887 37.0236C26.082 37.1172 26.2685 37.1738 26.5671 37.1738C26.9401 37.1738 27.2195 37.0055 27.2195 36.688ZM28.0961 35.1216C28.0961 34.7486 28.0217 34.6739 27.7609 34.6739H27.4245V34.7486H27.4996C27.7235 34.7486 27.7609 34.8977 27.7609 35.1216V37.1357H28.0961V35.7103C28.1897 35.606 28.32 35.5127 28.4695 35.5127C28.6745 35.5127 28.8798 35.6434 28.8798 36.0164V37.1357H29.2155V36.0164C29.2155 35.4757 28.8983 35.3448 28.5816 35.3448C28.3577 35.3448 28.1901 35.4384 28.0965 35.5313V35.1212L28.0961 35.1216ZM30.1816 34.991C30.1816 34.8641 30.088 34.7523 29.9726 34.7523C29.8678 34.7523 29.8009 34.8156 29.8009 34.9199C29.8009 35.0469 29.8945 35.159 30.0096 35.159C30.1143 35.159 30.1816 35.0953 30.1816 34.991ZM30.2038 35.8302C30.2038 35.4572 30.1291 35.3832 29.8678 35.3832H29.5318V35.4572H29.6073C29.8308 35.4572 29.8678 35.6067 29.8678 35.8302V37.1361H30.2038V35.8302ZM30.7075 36.2595C30.7075 36.7631 31.0057 37.1742 31.5278 37.1742C32.05 37.1742 32.3486 36.7631 32.3486 36.2595C32.3486 35.7559 32.0503 35.3455 31.5278 35.3455C31.0053 35.3455 30.7075 35.7562 30.7075 36.2595ZM31.9941 36.2595C31.9941 36.6884 31.8079 37.024 31.5282 37.024C31.2485 37.024 31.062 36.6884 31.062 36.2595C31.062 35.8306 31.2485 35.4946 31.5282 35.4946C31.8079 35.4946 31.9941 35.8302 31.9941 36.2595ZM32.8522 37.1361H33.1882V35.7107C33.2811 35.6064 33.4117 35.5131 33.5608 35.5131C33.7658 35.5131 33.9712 35.6437 33.9712 36.0167V37.1361H34.3072V36.0167C34.3072 35.4761 33.9901 35.3451 33.6729 35.3451C33.4491 35.3451 33.2814 35.4387 33.1882 35.5316H33.1693C33.1319 35.4387 33.0387 35.3829 32.8522 35.3829H32.5158V35.4569H32.5909C32.8148 35.4569 32.8522 35.6064 32.8522 35.8299V37.1357V37.1361ZM36.1122 34.9914C36.1122 34.8644 36.0186 34.7527 35.9031 34.7527C35.7988 34.7527 35.7315 34.816 35.7315 34.9203C35.7315 35.0472 35.8243 35.1594 35.9402 35.1594C36.0445 35.1594 36.1122 35.0957 36.1122 34.9914ZM35.7988 37.0429C35.7988 37.491 35.687 37.7707 35.4436 37.7707V37.8455C35.9853 37.8455 36.1344 37.6031 36.1344 37.0429V35.8302C36.1344 35.4572 36.0597 35.3832 35.7984 35.3832H35.4621V35.4572H35.5372C35.7611 35.4572 35.7984 35.6067 35.7984 35.8302V37.0429H35.7988ZM37.0299 36.1662C37.0299 35.7932 37.1979 35.5135 37.4214 35.5135C37.6827 35.5135 37.8129 35.7562 37.8129 36.1662H37.0299ZM38.1489 36.1662C38.1489 35.6437 37.9065 35.3455 37.4029 35.3455C36.9367 35.3455 36.6754 35.7562 36.6754 36.2595C36.6754 36.7627 36.9367 37.1742 37.4588 37.1742C37.7385 37.1742 37.9624 37.0614 38.1304 36.7816L38.0557 36.7257C37.925 36.9122 37.7763 37.024 37.5335 37.024C37.2164 37.024 37.0299 36.7257 37.0299 36.3157H38.1411L38.1489 36.1662ZM39.958 35.8121C39.8085 35.4391 39.5854 35.3455 39.3426 35.3455C39.309 35.3455 39.2309 35.3533 39.212 35.3533V35.428C39.3796 35.4391 39.4733 35.5324 39.585 35.7936L39.2679 36.5955L38.9508 35.8125C38.8013 35.4395 38.5778 35.3459 38.3354 35.3459C38.301 35.3459 38.2225 35.3536 38.2044 35.3536V35.4284C38.3879 35.4395 38.4849 35.5327 38.5966 35.8128L39.1373 37.175H39.212L39.6783 36.0179L40.1441 37.175H40.2189L40.946 35.384H40.7595L40.2748 36.5958L39.9576 35.8128L39.958 35.8121ZM41.5433 36.1662C41.5433 35.7932 41.7113 35.5135 41.9351 35.5135C42.1956 35.5135 42.3266 35.7562 42.3266 36.1662H41.5429H41.5433ZM42.6622 36.1662C42.6622 35.6437 42.4199 35.3455 41.9163 35.3455C41.45 35.3455 41.1891 35.7562 41.1891 36.2595C41.1891 36.7627 41.45 37.1742 41.9721 37.1742C42.2522 37.1742 42.4761 37.0614 42.6437 36.7816L42.5694 36.7257C42.4387 36.9122 42.2896 37.024 42.0469 37.024C41.7298 37.024 41.5433 36.7257 41.5433 36.3157H42.6552L42.6622 36.1662ZM43.5389 35.122C43.5389 34.749 43.4641 34.6742 43.2036 34.6742H42.8672V34.749H42.9424C43.1662 34.749 43.2036 34.8981 43.2036 35.122V37.1361H43.5389V35.122ZM44.565 35.122C44.565 34.749 44.4902 34.6742 44.229 34.6742H43.893V34.749H43.9681C44.192 34.749 44.2294 34.8981 44.2294 35.122V37.1361H44.5653V35.122H44.565ZM45.4601 36.1662C45.4601 35.7932 45.6281 35.5135 45.8516 35.5135C46.1128 35.5135 46.2435 35.7562 46.2435 36.1662H45.4605H45.4601ZM46.5791 36.1662C46.5791 35.6437 46.3367 35.3455 45.8331 35.3455C45.3668 35.3455 45.1056 35.7562 45.1056 36.2595C45.1056 36.7627 45.3668 37.1742 45.889 37.1742C46.1683 37.1742 46.3926 37.0614 46.5606 36.7816L46.4862 36.7257C46.3552 36.9122 46.2061 37.024 45.9637 37.024C45.6466 37.024 45.4601 36.7257 45.4601 36.3157H46.5713L46.5791 36.1662ZM47.1197 37.1361H47.4557V35.7559C47.5305 35.6437 47.6607 35.5694 47.8098 35.5694C47.9405 35.5694 48.0522 35.6064 48.1084 35.6811L48.2576 35.5694C48.2202 35.4946 48.1832 35.4387 48.127 35.4014C48.0711 35.364 47.9778 35.3451 47.9031 35.3451C47.6796 35.3451 47.5301 35.4569 47.4557 35.5505H47.4368C47.3995 35.4387 47.3062 35.3829 47.1197 35.3829H46.8215V35.4569H46.8588C47.0827 35.4569 47.1201 35.6064 47.1201 35.8299V37.1357L47.1197 37.1361ZM49.2274 37.3788C49.1116 37.696 48.9477 37.7703 48.7238 37.7703V37.8821H48.8356C49.0965 37.8821 49.2607 37.7892 49.4139 37.3785L50.1599 35.3825H49.9734L49.4887 36.6691L49.0779 35.6434C49.0032 35.4569 48.8541 35.3448 48.6302 35.3448H48.3127V35.4199C48.5 35.4384 48.6491 35.5313 48.7238 35.7181L49.3022 37.1738L49.2274 37.3788ZM23.6579 34.786C23.8255 34.786 23.9376 34.8422 24.012 34.9536L24.1241 34.8607C24.0868 34.786 24.0494 34.7301 23.9935 34.6931C23.9373 34.6557 23.8251 34.6369 23.6764 34.6369C23.3593 34.6369 23.0236 34.749 23.0236 35.2711V35.3832H22.7624V35.532H23.0236V37.1361H23.3593V35.532H23.8814V35.3832H23.3593V35.2711C23.3593 34.8981 23.4899 34.786 23.6575 34.786" fill="white"/>
        </svg>
      </div>
      <div class="plp-det-head">
        <div class="plp-det-main_head">Kushal’s Fashion Jewellery</div>
        <span>Download App . Save ₹200</span>
      </div>
      <div class="plp-det-code">
        <div class="plp-det-code_inner">
          <div class="plp-det-code_box">APP200</div>
        </div>
      </div>
      <div class="plp-det-btn">
        <a href="http://share.shopney.co/sNPc2pRBty">Install Now</a>
      </div>
    </div>
  </div>
</div>
