<form class="form minisearch" id="search_mini_form" action="/pages/search" method="get">
  <div class="wizzy-search-form-wrapper mf-initial " data-was-processed="true">
    <div class="wizzy-search-form-mobile-wrapper mf-initial" data-was-processed="true"></div>
    <div class="wizzy-search-form mf-initial" data-was-processed="true">
      <label for="search" style="display: none;"></label>
      <input
        id="search"
        type="text"
        name="q"
        placeholder="Search here..."
        class="input-text search-query wizzy-search-input"
        spellcheck="false"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        style="display: inline-block;"
      >
      <a href="#" class="wizzy-search-glass">
        <span class="wizzy-icon"></span>
      </a>
      <a href="#" class="wizzy-search-back">
        <span class="wizzy-icon"></span>
      </a>
      <a href="#" class="wizzy-search-clear">
        <span class="wizzy-icon"></span>
      </a>
    </div>
  </div>
</form>
