<style>
  .CT-Banner-BG-main{
    width:100%;
  }
  .CT-Banner-BG-inner{
    width:100%;
    max-width:1050px;
    margin:0 auto;
  }
  img.m_img {
    display: none;
}
 
  .CT-Banner-BG-img img{
    width:100%;
  }
  .CT-Banner-BG-img{
    position: relative;
  }
a.ban_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 155px;
    height: 8%;
    cursor: pointer;
    background: transparent;
    opacity: 0.5;
    z-index: 10;
}
  .ban_link_one {
    top: 17% !important;
    left: 21% !important;
}
  a.ban_link.ban_link_two {
    top: 49.5% !important;
    right: 4%;
    left: inherit !important;
}
  .ban_link_three {
    top: 83% !important;
    left: 21.5% !important;
}
  @media(max-width:1050px){
      a.ban_link {
    width: 14.5%;
      }
  }
   @media(max-width:750px){
      a.ban_link {
    width: 22%;
      }
       img.m_img {
    display: block;
}
     img.d_img {
    display: none;
}
    .ban_link_one {
    top: 18% !important;
    left: 9% !important;
}
     a.ban_link.ban_link_two {
    top: 52% !important;
    right: 7%;
}
     .ban_link_three {
    top:87.5% !important;
    left: 9.5% !important;
}
     .CT-Banner-BG-inner {
    padding-right: 10px;
}
  }
  
  div#shopify-section-template--16318759862428__ct_banner_bg_4RzBBf {
    padding: 47px 0;
}
</style>
  
  <div class="CT-Banner-BG-main">
    <div class="CT-Banner-BG-inner">

      
      <div class="CT-Banner-BG-img">
        <a href="{{ section.settings.link1 }}" class="ban_link ban_link_one"></a>
        <a href="{{ section.settings.link2 }}" class="ban_link ban_link_two"></a>
        <a href="{{ section.settings.link3 }}" class="ban_link ban_link_three"></a>

        <img class="d_img" src="https://cdn.shopify.com/s/files/1/0796/1959/files/Group_392_4.png?v=1706531966" >
        <img class="m_img" src="https://cdn.shopify.com/s/files/1/0796/1959/files/Group_392_5.png?v=1706531965" >

        <!-- <div class="CT-Banner-BG-img-box CT-Banner-BG-img-box-one ">
          <div class="CT-Banner-BG-img-box-content">
            <div class="CT-Banner-BG-head">Under 999</div>
            <div class="CT-Banner-BG-text">Lorem ipsum, or lipsum</div>
            <div class="CT-Banner-BG-btn">
              <a href="#">Explore
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="35" viewBox="0 0 36 35" fill="none">
                  <path d="M21.4133 8.86536L30.0979 17.5499L21.4133 26.2345" stroke="#CF2228" stroke-width="2.71818"
                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M5.77539 17.5499H29.8547" stroke="#CF2228" stroke-width="2.71818" stroke-miterlimit="10"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </div>
          </div>
          <div class="CT-Banner-BG-img-box-content-img">
            <img src="https://cdn.shopify.com/s/files/1/0796/1959/files/KUSHAL_-_PRODUCT_SHOOT9540_2.png?v=1706259548" alt="">
            <div class="ct_showdow"></div>
          </div>
        </div> -->

        <!-- <div class="CT-Banner-BG-img-box CT-Banner-BG-img-box-two">
          <div class="CT-Banner-BG-img-box-content">
            <div class="CT-Banner-BG-head">Under 999</div>
            <div class="CT-Banner-BG-text">Lorem ipsum, or lipsum</div>
            <div class="CT-Banner-BG-btn">
              <a href="#">Explore
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="35" viewBox="0 0 36 35" fill="none">
                  <path d="M21.4133 8.86536L30.0979 17.5499L21.4133 26.2345" stroke="#CF2228" stroke-width="2.71818"
                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M5.77539 17.5499H29.8547" stroke="#CF2228" stroke-width="2.71818" stroke-miterlimit="10"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </div>
          </div>
          <div class="CT-Banner-BG-img-box-content-img">
            <img src="https://cdn.shopify.com/s/files/1/0796/1959/files/KUSHAL_-_PRODUCT_SHOOT9540_2.png?v=1706259548" alt="">
            <div class="ct_showdow"></div>
          </div>
        </div> -->
        
        <!-- <div class="CT-Banner-BG-img-box CT-Banner-BG-img-box-three">
          <div class="CT-Banner-BG-img-box-content">
            <div class="CT-Banner-BG-head">Under 999</div>
            <div class="CT-Banner-BG-text">Lorem ipsum, or lipsum</div>
            <div class="CT-Banner-BG-btn">
              <a href="#">Explore
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="35" viewBox="0 0 36 35" fill="none">
                  <path d="M21.4133 8.86536L30.0979 17.5499L21.4133 26.2345" stroke="#CF2228" stroke-width="2.71818"
                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M5.77539 17.5499H29.8547" stroke="#CF2228" stroke-width="2.71818" stroke-miterlimit="10"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </div>
          </div>
          <div class="CT-Banner-BG-img-box-content-img">
            <img src="https://cdn.shopify.com/s/files/1/0796/1959/files/KUSHAL_-_PRODUCT_SHOOT9540_2.png?v=1706259548" alt="">
            <div class="ct_showdow"></div>
          </div>
        </div> -->
      </div>
    </div>
  </div>

{% schema %}
  {
    "name": "CT-Banner-BG",
    "class": "CT-Banner-BG",
    "settings": [
      {
        "type":"url",
        "id":"link1",
        "label":"Button link"
      },
      {
        "type": "url",
        "id": "link2",
        "label": "Button link"
      },
      {
        "type": "url",
        "id": "link3",
        "label": "Button link"
      }

    ],
    "presets": [{
    "name": "CT-Banner-BG"
    }]
  }
{% endschema %}