<div class="ct_related_search">
<div class="container">
<div class="ct_related_search_head">More for you</div>  
<div class="dev_third_prod_list">
    <ul class="ct_tag_list CT_items_scroll">
      
    </ul>

  <div class="ct_wrap_prod_list CT_items_scroll">
      
  </div>
  <div class="loader ct_more_loader" style="display:none"></div>
</div>
</div>
</div>
  
  
<script>
   /******************************************** Third API product Get ******************************************************/
              var main_text_title = jQuery(".title-row .title").text();
        var prod_main_title = main_text_title.substring(0, main_text_title.lastIndexOf(" "));
               var flag_check_ajax = true; // Move flag declaration outside of scroll event

      $(window).scroll(function() {
          var scrollTop = $(window).scrollTop();
          var windowHeight = $(window).height();
          var section = $('#ct-results-seen');
          var offset = section.offset().top+150;
      
          // Check if the section is in view and if the AJAX call hasn't been made yet
          if (scrollTop + windowHeight >= offset && flag_check_ajax) {
              flag_check_ajax = false; // Prevent further AJAX calls
      
              $.ajax({
                  url: 'https://api.wizzy.ai/v1/autocomplete',
                  data: {
                      productsCount: 1,
                      q: prod_main_title
                  },
                  type: "post",
                  headers: {
                      'X-Store-Id': '446e47965dc711ee96250a0c8095feae',
                      'X-Api-Key': 'TE1ZMUdwQ1pkMDNaQStGc0hBYUhHTFRjVWw2YUZMdnVhSXptVWUvNDFZa1BiNDZTNFZkNTlmQzlBTkNsZDRHak45dFhkcFQ2bk9qcG1CdWMrN0Y4eGc9PQ=='
                  },
                  success: function(third_response) {
                      var prod_html = "";
                      var first_text = "";
                      var prod_arr = [];
      
                      // Process categories
                      $.each(third_response.payload['categories'], function(i, val) {
                          var active_class = "";
                          if (i === 0) {
                              first_text = val.value;
                              active_class = "active";
                          }
      
                          var text = val.value;
                          var newText = text.slice(0, -1); // Remove the last character
      
                          if ($.inArray(val.value, prod_arr) === -1 && $.inArray(newText, prod_arr) === -1) {
                              prod_html += "<li class='ctd_recent ct_wrap_prod " + active_class + " '>";
                              prod_html += val.value;
                              prod_html += "</li>";
                              prod_arr.push(val.value);
                          }
                      });
      
                      // Process others
                      $.each(third_response.payload['others'], function(o_i, o_val) {
                          var active_class_other = "";
                          if (first_text === "" && o_i === 0) {
                              first_text = o_val.value;
                              active_class_other = "active";
                          }
      
                          var newText = o_val.value.slice(0, -1); // Remove the last character
      
                          if ($.inArray(o_val.value, prod_arr) === -1 && $.inArray(newText, prod_arr) === -1) {
                              prod_html += "<li class='ct_wrap_prod " + active_class_other + "'>";
                              prod_html += o_val.value;
                              prod_html += "</li>";
                              prod_arr.push(o_val.value);
                          }
                      });
      
                      $(".ct_tag_list").html(prod_html);
                      ajax_call_product(first_text);
      
                      if (third_response.payload['categories'].length <= 0 && third_response.payload['others'].length <= 0) {
                          $(".ct_related_search").hide();
                      } else {
                          $(".ct_related_search").show();
                      }
                  }
              });
      
              // Remove scroll event listener
              $(window).off('scroll');
          }
      });


  jQuery(document).on("click",".ct_tag_list .ct_wrap_prod",function(){
    jQuery(".ct_tag_list .ct_wrap_prod").removeClass("active");
    var s_text=jQuery(this).text();
    jQuery(this).addClass("active");
    jQuery(".related_CPB-box.ctd_recent").remove();
   jQuery('.loader').show();
    ajax_call_product(s_text);
  })

  jQuery(document).on("click",".CT_items_scroll a",function(){
    
        var prod_id=jQuery(this).attr("data-prod-id");
        var search_string=jQuery(".CT_items_scroll .ct_wrap_prod.active").text();
      
        var prod_arr=[];
        jQuery(".ct_wrap_prod_list  .related_CPB-box a").each(function(){
            var prod_id=jQuery(this).attr("data-prod-id");
            prod_arr.push(prod_id)
        })
      
    
         // clevertap.event.push("More_for_you_product selected", {
        //       "Product ID ":prod_id,
        //       "search_string":search_string,
        //       "other_products_in_the_list":prod_arr
        //     });

    clevertap.event.push("More_for_you_product_selected", {
              "Product ID ":prod_id,
              "search_string":search_string
            });
  })


  function ajax_call_product(search_text)
    {


      

var requestData = {
                        // "attributes": element,
                        // "colors":colors,
                 		"attributeFacetValuesLimit": "40",
                 		"currency": "INR",
                 		"getAllVariants": "false",
                 		"page": 1,
                 		"productsCount": "20",
                 		"q": search_text,
                 		"showOOSProductsInOrder": "false",
                 		"sort": [{
                 			"field": "relevance",
                 			"order": "asc"
                 		}],
                 		"type": "DEFAULT"
                 	};
                
                
               	var sds = JSON.stringify(requestData);

            var settings = {
                 		"url": 'https://api.wizzy.ai/v1/products/filter',
                 		"data": JSON.stringify({
                 			"filters": sds
                 		}),
                 		"method": "POST",
                 		"timeout": 0,
                 		"headers": {
                 			'X-Store-Id': '446e47965dc711ee96250a0c8095feae',
                 			'X-Api-Key': 'TE1ZMUdwQ1pkMDNaQStGc0hBYUhHTFRjVWw2YUZMdnVhSXptVWUvNDFZa1BiNDZTNFZkNTlmQzlBTkNsZDRHak45dFhkcFQ2bk9qcG1CdWMrN0Y4eGc9PQ==',
                 			'Content-Type': 'application/json'
                 		}
                 	};
                
                $.ajax(settings).done(function(first_response) {
                   // console.log(first_response);
                     if(first_response['statusCode'] != 400)
                     {
                       jQuery('.loader').hide();
                $('.ct_wrap_prod_list').animate({ scrollLeft: 0 }, 'slow');
                          var second_api_text="";
                        
                         console.log(first_response)
                          var prod_html="";
                          var selectedVariantName = $.trim($("form [name='id'] option:selected").text());
                          var split_value=selectedVariantName.split("/")
                          var first_variant,second_variant,third_variant ="";
                          if(split_value[0] != undefined)
                          {
                            first_variant=split_value[0]+" Stone ";
                          }
                          if(split_value[1] != undefined)
                          {
                            second_variant = split_value[1]+" POlish";
                          }
                          if(split_value[2] != undefined)
                          {
                            third_variant = split_value[2]+" Size"; 
                          }
                    
                          // var label_text_first="See more "+ prod_main_title+" with "+first_variant + second_variant +third_variant;
                          // jQuery(".ct_first_lable").text(label_text_first);
                               var total_prod=first_response.payload['result'].length;
                         jQuery(".ct_match_product_count").text(total_prod+" Close Matches Found");
                           
                          
                          var currency=first_response.payload['configs']['currency']['symbol'];    
                          var image_html="";   
                          jQuery.each(first_response.payload['result'],function(i,val){
                            var tag_name="";

                            var limited_price=false;
                              var limited_discount=false;
                            var bargain=false
                            var fast_sell=false;
                            var bestSel="";
                            var flag_search_best_seller=false;
                            var other_tag_seller=false;
                            var ct_best_class="";
                            var tag_class="";
                            var best_seller="";
                            var discount_price="";
                             var var_count="";
                            var silverTag="";
                            
                                if(val.discountPercentage && val.discountPercentage >= 10 && val.discountPercentage <= 40 )
                                  {
                                    limited_discount=true;            
                                  }    
                                 
                                  if(val.sellingPrice && val.sellingPrice >= 1300 && val.sellingPrice   <= 2000)
                                  {
                                    limited_price= true
                                  }
                                 if(val.sellingPrice && val.sellingPrice  > 2000)
                                  {
                                    bargain= true
                                  }
                                   if(limited_discount &&  limited_price)
                                   {
                                     bestSel="Limited Deal";
                                     fast_sell=true;
                                     ct_best_class="limited_tag";
                                   }
                                   if(bargain &&  limited_discount)
                                   {
                                     bestSel="Price Crash";
                                     fast_sell=true;
                                     ct_best_class="bargain_tag";
                                   }
                              if(val.discount)
                              {
                                var dis_price=parseInt(val.discount); 
                                if(dis_price > 1000)
                                {
                                  discount_price='<div class="pr_price_off" bis_skin_checked="1"> <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none"> <g clip-path="url(#clip0_605_63842)"> <path d="M13.4475 7.55371V7.87384C13.4475 9.66639 10.4372 11.1194 6.72415 11.1194C4.67457 11.1194 2.84039 10.6762 1.60718 9.97799C2.02299 11.5929 4.84886 12.9295 8.27568 12.9295C11.9888 12.9295 14.999 11.3604 14.999 9.56786C14.999 8.77968 14.4156 8.08511 13.4475 7.55371Z" fill="#FCC62D"></path> <path d="M8.27557 12.929C4.56249 12.929 1.55225 11.3599 1.55225 9.56738V11.7519C1.55225 13.5445 4.56249 14.9978 8.27557 14.9978C11.9887 14.9978 14.9989 13.5445 14.9989 11.7519V9.56738C14.9989 11.3599 11.9887 12.929 8.27557 12.929Z" fill="#E4AF18"></path> <path d="M2.32788 13.2781C2.48045 13.4175 2.65345 13.5509 2.84506 13.6776V11.5337C2.65345 11.4018 2.48045 11.2634 2.32788 11.1191V13.2781Z" fill="#CE9912"></path> <path d="M13.7061 11.5337V13.6776C13.8977 13.5512 14.0707 13.4175 14.2232 13.2781V11.1191C14.0709 11.2634 13.8979 11.4018 13.7061 11.5337Z" fill="#CE9912"></path> <path d="M3.3623 13.9792C3.52573 14.0637 3.69847 14.1436 3.87948 14.2194V12.1008C3.69847 12.0211 3.52573 11.9371 3.3623 11.8486V13.9792Z" fill="#CE9912"></path> <path d="M12.6716 14.2194C12.8526 14.1439 13.0254 14.0637 13.1888 13.9792V11.8486C13.0254 11.9371 12.8526 12.0214 12.6716 12.1008V14.2194Z" fill="#CE9912"></path> <path d="M4.39673 14.4144C4.56378 14.4716 4.73626 14.5248 4.91391 14.5745V12.4763C4.73626 12.4235 4.56378 12.3669 4.39673 12.3066V14.4144Z" fill="#CE9912"></path> <path d="M11.6375 14.5745C11.8151 14.5248 11.9876 14.4716 12.1546 14.4144V12.3066C11.9876 12.3669 11.8151 12.4235 11.6375 12.4763V14.5745Z" fill="#CE9912"></path> <path d="M5.6897 14.7621C5.85856 14.7962 6.03129 14.8267 6.20688 14.8539V12.7738C6.03129 12.7446 5.85856 12.712 5.6897 12.6758V14.7621Z" fill="#CE9912"></path> <path d="M10.3442 14.8522C10.5198 14.8248 10.6926 14.7943 10.8614 14.7604V12.6738C10.6926 12.71 10.5198 12.7426 10.3442 12.7721V14.8522Z" fill="#CE9912"></path> <path d="M7.24146 14.972C7.41161 14.9846 7.58434 14.9934 7.75863 14.9996V12.9301C7.58434 12.9234 7.41161 12.9141 7.24146 12.9004V14.972Z" fill="#CE9912"></path> <path d="M8.79272 14.9999C8.96701 14.9934 9.13975 14.9849 9.3099 14.9722V12.9004C9.13975 12.9141 8.96701 12.9234 8.79272 12.9304V14.9999Z" fill="#CE9912"></path> <path d="M6.72406 9.04819C3.01097 9.04819 0.000732422 7.47907 0.000732422 5.68652V7.87109C0.000732422 9.66363 3.01097 11.1169 6.72406 11.1169C10.4371 11.1169 13.4474 9.66363 13.4474 7.87109V5.68652C13.4474 7.47907 10.4371 9.04819 6.72406 9.04819Z" fill="#E4AF18"></path> <path d="M0.776611 9.39699C0.929179 9.53637 1.10218 9.6698 1.29379 9.79651V7.65254C1.10218 7.52066 0.929179 7.38232 0.776611 7.23828V9.39699Z" fill="#CE9912"></path> <path d="M12.1545 7.6528V9.79677C12.3462 9.67032 12.5192 9.53662 12.6717 9.39724V7.23828C12.5194 7.38257 12.3464 7.52092 12.1545 7.6528Z" fill="#CE9912"></path> <path d="M1.81079 10.0983C1.97422 10.1829 2.14696 10.2628 2.32797 10.3385V8.2199C2.14696 8.14025 1.97422 8.05621 1.81079 7.96777V10.0983Z" fill="#CE9912"></path> <path d="M11.1201 10.3385C11.3011 10.263 11.4739 10.1831 11.6373 10.0983V7.96777C11.4739 8.05621 11.3011 8.14051 11.1201 8.2199V10.3385Z" fill="#CE9912"></path> <path d="M2.84521 10.5335C3.01226 10.5907 3.18474 10.644 3.36239 10.6936V8.59542C3.18474 8.54266 3.01226 8.48603 2.84521 8.42578V10.5335Z" fill="#CE9912"></path> <path d="M10.0857 10.6936C10.2633 10.644 10.4358 10.5907 10.6029 10.5335V8.42578C10.4358 8.48603 10.2633 8.54266 10.0857 8.59542V10.6936Z" fill="#CE9912"></path> <path d="M4.13818 10.8812C4.30704 10.9154 4.47978 10.9459 4.65536 10.973V8.89293C4.47978 8.86371 4.30704 8.83112 4.13818 8.79492V10.8812Z" fill="#CE9912"></path> <path d="M8.79272 10.9733C8.96831 10.9459 9.14104 10.9154 9.3099 10.8815V8.79492C9.14104 8.83112 8.96831 8.86371 8.79272 8.89319V10.9733Z" fill="#CE9912"></path> <path d="M5.6897 11.0921C5.85985 11.1047 6.03259 11.1135 6.20688 11.1197V9.05025C6.03259 9.04352 5.85985 9.03421 5.6897 9.02051V11.0921Z" fill="#CE9912"></path> <path d="M7.24146 11.12C7.41574 11.1135 7.58848 11.105 7.75863 11.0923V9.02051C7.58848 9.03421 7.41574 9.04352 7.24146 9.0505V11.12Z" fill="#CE9912"></path> <path d="M13.2709 8.61133C12.5786 10.0481 9.91156 11.1191 6.72418 11.1191C5.53364 11.1191 4.41601 10.9691 3.44604 10.7072C4.38421 11.3441 6.05392 11.8861 8.27572 11.8861C11.8137 11.8861 13.9647 10.5127 13.9647 9.56759C13.9647 9.25211 13.7219 8.9175 13.2709 8.61133Z" fill="#FFD949"></path> <path d="M8.01701 8.53354C4.30392 8.53354 1.29368 7.08026 1.29368 5.28772V3.82617C0.48145 4.33533 0.000732422 4.97379 0.000732422 5.68905C0.000732422 7.48159 3.01097 9.05071 6.72406 9.05071C8.51195 9.05071 10.1354 8.68636 11.3396 8.10893C10.3593 8.37864 9.22591 8.53354 8.01701 8.53354Z" fill="#FFD949"></path> <path d="M8.01727 6.46225C4.30419 6.46225 1.29395 4.89313 1.29395 3.10059V5.28515C1.29395 7.07769 4.30419 8.53096 8.01727 8.53096C11.7304 8.53096 14.7406 7.07769 14.7406 5.28515V3.10059C14.7406 4.89313 11.7304 6.46225 8.01727 6.46225Z" fill="#E4AF18"></path> <path d="M2.06934 6.81105C2.2219 6.95043 2.3949 7.08386 2.58651 7.21057V5.0666C2.3949 4.93472 2.2219 4.79638 2.06934 4.65234V6.81105Z" fill="#CE9912"></path> <path d="M13.4475 5.06686V7.21083C13.6391 7.08438 13.8121 6.95069 13.9647 6.81131V4.65234C13.8124 4.79664 13.6394 4.93498 13.4475 5.06686Z" fill="#CE9912"></path> <path d="M3.10376 7.51333C3.26719 7.59789 3.43993 7.67779 3.62094 7.75356V5.63494C3.43993 5.55529 3.26719 5.47125 3.10376 5.38281V7.51333Z" fill="#CE9912"></path> <path d="M12.4131 7.75258C12.5941 7.67708 12.7668 7.59717 12.9303 7.51235V5.38184C12.7668 5.47027 12.5941 5.55457 12.4131 5.63396V7.75258Z" fill="#CE9912"></path> <path d="M4.13818 7.94761C4.30523 8.00476 4.47771 8.05802 4.65536 8.10767V6.00948C4.47771 5.95673 4.30523 5.9001 4.13818 5.83984V7.94761Z" fill="#CE9912"></path> <path d="M11.3787 8.10767C11.5563 8.05802 11.7288 8.00476 11.8958 7.94761V5.83984C11.7288 5.9001 11.5563 5.95673 11.3787 6.00948V8.10767Z" fill="#CE9912"></path> <path d="M5.43115 8.29528C5.60001 8.32942 5.77275 8.35993 5.94833 8.38708V6.30699C5.77275 6.27777 5.60001 6.24519 5.43115 6.20898V8.29528Z" fill="#CE9912"></path> <path d="M10.0857 8.38734C10.2613 8.35993 10.434 8.32942 10.6029 8.29554V6.20898C10.434 6.24519 10.2613 6.27777 10.0857 6.30725V8.38734Z" fill="#CE9912"></path> <path d="M6.98291 8.50515C7.15306 8.51783 7.3258 8.52662 7.50009 8.53282V6.46333C7.3258 6.45661 7.15306 6.4473 6.98291 6.43359V8.50515Z" fill="#CE9912"></path> <path d="M8.53418 8.53308C8.70847 8.52662 8.88121 8.51808 9.05136 8.50541V6.43359C8.88121 6.4473 8.70847 6.45661 8.53418 6.46359V8.53308Z" fill="#CE9912"></path> <path d="M14.7406 3.10307C14.7406 4.89562 11.7304 6.46474 8.01727 6.46474C4.30419 6.46474 1.29395 4.89562 1.29395 3.10307C1.29395 1.31053 4.30419 0 8.01727 0C11.7304 0 14.7406 1.31053 14.7406 3.10307Z" fill="#FCC62D"></path> <path d="M8.01685 5.42121C4.47883 5.42121 2.32788 4.0481 2.32788 3.1027C2.32788 2.15755 4.47883 0.775391 8.01685 0.775391C11.5549 0.775391 13.7058 2.15755 13.7058 3.1027C13.7058 4.0481 11.5549 5.42121 8.01685 5.42121Z" fill="#FFD949"></path> <path d="M9.77073 3.45478C9.98277 3.40978 10.1072 3.27894 10.0614 3.12973L10.0122 2.97044C9.97631 2.8533 9.83641 2.75555 9.66496 2.70694C9.43172 2.20864 8.83696 2.02814 7.95362 2.02814C7.91173 2.02814 7.87087 2.02917 7.83053 2.03073C7.52902 2.04314 7.22828 2.01418 6.99374 1.92832C6.89806 1.89341 6.82022 1.85695 6.76876 1.81894C6.74549 1.80187 6.68912 1.81273 6.68912 1.83446C6.68912 1.87221 6.69196 1.91695 6.70024 1.9666C6.7323 2.15976 6.69403 2.1308 6.50319 2.32345C6.39251 2.43568 6.30434 2.56497 6.24046 2.70771C6.07005 2.75659 5.93093 2.85407 5.89499 2.9707L5.84586 3.12999C5.80009 3.2792 5.92447 3.41004 6.13651 3.45504C6.19702 3.83671 6.45639 4.17185 7.02192 4.35648L6.99089 4.62464C6.98262 4.69627 6.92081 4.76247 6.83082 4.79505L5.69019 5.20672C6.35631 5.34636 7.11553 5.43066 7.95362 5.43066C8.78007 5.43066 9.52972 5.34869 10.1891 5.21293L9.07331 4.79582C8.98513 4.76272 8.92462 4.69704 8.91661 4.62671L8.88532 4.35648C9.45085 4.17185 9.71022 3.83646 9.77073 3.45478Z" fill="#F0C41B"></path> </g> <defs> <clipPath id="clip0_605_63842"> <rect width="15" height="15" fill="white"></rect> </clipPath> </defs> </svg>  Big Save <span> ₹'+val.discount+'</span> </div>'            
                                }
                                
                              }
                    var CL_products_arr=[];
                            jQuery.each(first_response.payload['result'],function(j,attr){
                              CL_products_arr.push(attr.groupId)
                               if (attr.name == "Front End Tags") {
                                  silverTag ='<div class="pr__overlay" bis_skin_checked="1"> <span>'+attr.values[0].value[0]+'</span>  </div>';
                                 
                                }
                                  if(attr.name == "Bestseller")
                                  {
                                     flag_search_best_seller=true;
                                  }
                            })

                             if(flag_search_best_seller)
                                {
                                   ct_best_class="bargain_tag";
                                   tag_class="ct_best"
                                   best_seller = "Best Seller"
                                }
                                else
                                {
                              
                                  if( fast_sell)
                                 {
                                    tag_class=ct_best_class
                                     best_seller =bestSel            
                                  }
                                }

                             var swatches = val.swatches;
        
                            if (swatches) {
                              
                              if(swatches[0])
                              {
                                if(swatches[0].values.length > 1)
                                {
                                 var_count='<div class="pr_CPB-varient"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="9" viewBox="0 0 13 9" fill="none"> <circle cx="4.55419" cy="4.22899" r="4.08544" fill="#B13939"/> <circle cx="6.46825" cy="4.22899" r="4.08544" fill="#28BE7F"/> <circle cx="8.49364" cy="4.22899" r="4.08544" fill="#14577C"/> </svg> '+swatches[0].values.length+'+</div>';
                                  
                                }
                              }
                            }


                              var compare_price=val.sellingPrice;
                              var main_price=val.price;
                              var hide_compare_price="" 
                              if(val.price > val.sellingPrice)
                              {
                                   compare_price=val.sellingPrice;
                                   main_price=val.price;                               
                              }
                            else
                              {
                                  hide_compare_price="ct_cmp_price_hide";
                                  compare_price=val.sellingPrice;
                                  main_price="";
                              }
                              
                            var discount="";
                            var dis_hide="dis_hide";
                            if(val.discountPercentage > 0)
                            {
                              dis_hide="dis_show";
                              discount=val.discountPercentage;                              
                            }
                            var tag_html='';
                          if(best_seller != "")
                          {
                            var tag_html='<div class="related_CPB-tags '+tag_class+'">'+best_seller+'</div>';                            
                          }
                            

                                 prod_html+='<div class="related_CPB-box ctd_recent">';
                                  prod_html+='<a href="'+val.url+'" data-prod-id="'+val.groupId+'"><div class="related_CPB-image-main">'+tag_html+' <div class="related_CPB-image"><img src="'+val.mainImage+'" class="related_main_img" width="400" height="400" > </div>';
                                  prod_html+=var_count+'</div></a>'
                                  prod_html+='<div class="related_CPB-product-content"> <div class="related_CPB-product-title"><div class="related_CPB-product-title-text">'+val.name+'</div><div class="related_CPB-product-wishlist"></div></div>';
                                  prod_html+='<div class="related_CPB-product-price"><div class="related_CPB-product-price-big">₹ '+compare_price+'</div><div class="related_CPB-product-price-small '+hide_compare_price+'">₹ '+main_price+'</div><div class="related_CPB-product-price-label '+dis_hide+'">'+discount+'% OFF</div></div>';
                                  prod_html+='<div class="related_CPB-product-tags"> <div class="related_tag" bis_skin_checked="1"> '+silverTag+' '+discount_price+' </div> </div>'; 
                            
                                  prod_html+='</div></div>';
                             
                             if(i < 3)
                             {
                    
                                second_api_text=val['categories'][1]["name"];
                                //third_api_text=val['categories'][0]["name"]
                                image_html+='<img src="'+val.mainImage+'" class="main_img"></img>';
                             }
                             else
                             {
                             // return false;
                             }
                                  
                           })                         
                          
                           
                           jQuery(".ct_wrap_prod_list").html(prod_html);
                    
                       
                      // clevertap.event.push("More_for_you_search_string_selected", {
                      //   "search_string":search_text,
                      //   "Products_ID":CL_products_arr
                      // });
                       
                      clevertap.event.push("More_for_you_search_string_selected", {
                        "search_string":search_text
                      });
                     }
                  
            });
    }






  var sliders = document.querySelectorAll('.CT_items_scroll');
var isDown = false;
var startX;
var scrollLeft;

sliders.forEach(slider => {
  slider.addEventListener('mousedown', (e) => {
    isDown = true;
    slider.classList.add('active');
    startX = e.pageX - slider.offsetLeft;
    scrollLeft = slider.scrollLeft;
  });

  slider.addEventListener('mouseleave', () => {
    isDown = false;
    slider.classList.remove('active');
    enableLinks(); // Re-enable links on mouse leave
  });

  slider.addEventListener('mouseup', () => {
    isDown = false;
    slider.classList.remove('active');
    enableLinks(); // Re-enable links on mouse up
  });

  slider.addEventListener('mousemove', (e) => {
    if (!isDown) return;
    e.preventDefault();
    const x = e.pageX - slider.offsetLeft;
    const walk = (x - startX) * 1; // scroll-fast
    slider.scrollLeft = scrollLeft - walk;
    disableLinks(); // Disable links when scrolling horizontally
  });
});

function disableLinks() {
  var links = document.querySelectorAll('.CT_items_scroll .ctd_recent');
  links.forEach(link => {
    link.style.pointerEvents = 'none'; // Disable link clicks
  });
}

function enableLinks() {
  var links = document.querySelectorAll('.CT_items_scroll .ctd_recent');
  links.forEach(link => {
    link.style.pointerEvents = 'auto'; // Re-enable link clicks
  });
}
</script>


{% schema %}
  {
    "name": "CT Related search",
    "settings": [],
    "presets":[{
      "name": "CT Related search"
    }]
  }
{% endschema %}