<style>
  .end-time-heading {
    color: #C71D22;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 46px;
    letter-spacing: 5px;
    text-transform: capitalize;
    opacity: 0.89;
}
  span.end-timer-block__num {
    color: #302F2F;
    text-align: center;
    font-family: Lato;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
  span.timer-block__unit {
    color: #302F2F;
    text-align: center;
    font-family: 'Lato';
    font-size: 42px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
  .end-timer-display {
    display: flex;
    gap: 30px;
    opacity: 0.9;
}
 .end-time-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
    background: rgb(252 213 86 / 20%);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}
  .end-time.end-time_product-page {
    display: none;
}
  @media(max-width:1250px){
    .end-time-heading {
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 3px;
}
    span.end-timer-block__num {
    font-size: 44px;
}
    span.timer-block__unit {
    font-size: 30px;
}
    .end-timer-display {
    gap: 20px;
}
    .end-time-body {
    padding: 25px 30px;
}
  }
   @media(max-width:900px){
     .end-time-heading {
    font-size: 18px;
    line-height: 22px;
}
     span.end-timer-block__num {
    font-size: 22px;
}
     span.timer-block__unit {
    font-size: 14px;
}
     .end-timer-display {
    gap: 7px;
}
    .end-time-body {
    padding: 5px 0px;
    flex-direction: column;
    height: 70px;
    justify-content: center;
}
     .end-time-box {
    line-height: normal;
    margin-top: 10px;
}
   }
     @media(max-width:749px){
       .end-time.end-time_product-page {
    display: block;
    margin-bottom: 15px;
}
       .end-time.end-time_product-page .container {
    padding: 0;
}
            .end-time.end-time_product-page   .end-time-heading {
    letter-spacing: 2px;
              font-size: 17px;
}
     }
</style>
<div class="end-time">
  <div class="container">
    <div class="end-time-body">      
    <div class="end-time-heading">{{ section.settings.head }}</div>
    <div class="end-time-box">
      {% assign end_date = section.settings.time %}
      {% if end_date != blank %}
        <div class="end-timer-display">
          
          <div class="end-timer-block">
            <span class="end-timer-block__num js-timer-hours">00</span>
            <span class="timer-block__unit">h</span>
          </div>

          
          <div class="end-timer-block">
            <span class="end-timer-block__num js-timer-minutes">00</span>
            <span class="timer-block__unit">m</span>
          </div>

          
          <div class="end-timer-block">
            <span class="end-timer-block__num js-timer-seconds">00</span>
            <span class="timer-block__unit">s</span>
          </div>
        </div>

        <script type="text/javascript">
          // var second = 1000,
          //     minute = second * 60,
          //     hour = minute * 60,
          //     day = hour * 24;
          // var countDown = new Date('{{- end_date -}}').getTime(),
          //     x = setInterval(function() {
          //     var now = new Date().getTime(),
          //     distance = countDown - now;
          //   document.querySelector('.js-timer-days').innerText = Math.floor(distance / (day)),
          //     document.querySelector('.js-timer-hours').innerText = Math.floor((distance % (day)) / (hour)),
          //   document.querySelector('.js-timer-minutes').innerText = Math.floor((distance % (hour)) / (minute)),
          //   document.querySelector('.js-timer-seconds').innerText = Math.floor((distance % (minute)) / second);

          //   }, second)
        </script>

        <script type="text/javascript">
          // var second = 1000,
          //     minute = second * 60,
          //     hour = minute * 60,
          //     day = hour * 24;

          // var countDown = new Date('{{- end_date -}}').getTime();
          // var x = setInterval(function() {
          //     var now = new Date().getTime();
          //     var distance = countDown - now;

          //     var remainingHours = Math.floor(distance / (hour));
          //     var remainingMinutes = Math.floor((distance % (hour)) / (minute));
          //     var remainingSeconds = Math.floor((distance % (minute)) / second);

          //     // Display remaining time in hours, minutes, and seconds
          //     document.querySelector('.js-timer-hours').innerText = remainingHours;
          //     document.querySelector('.js-timer-minutes').innerText = remainingMinutes;
          //     document.querySelector('.js-timer-seconds').innerText = remainingSeconds;
          // }, second);
        </script>

        <script type="text/javascript">
    var second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

    var countDown = new Date('{{- end_date -}}').getTime();
    var x = setInterval(function() {
        var now = new Date().getTime();
        var distance = countDown - now;

        var remainingHours = Math.floor(distance / (hour));
        var remainingMinutes = Math.floor((distance % (hour)) / (minute));
        var remainingSeconds = Math.floor((distance % (minute)) / second);

        // Pad single-digit numbers with leading zeros
        remainingHours = remainingHours < 10 ? "0" + remainingHours : remainingHours;
        remainingMinutes = remainingMinutes < 10 ? "0" + remainingMinutes : remainingMinutes;
        remainingSeconds = remainingSeconds < 10 ? "0" + remainingSeconds : remainingSeconds;

        // Display remaining time in hours, minutes, and seconds
        document.querySelector('.js-timer-hours').innerText = remainingHours;
        document.querySelector('.js-timer-minutes').innerText = remainingMinutes;
        document.querySelector('.js-timer-seconds').innerText = remainingSeconds;
    }, second);
</script>

      {% endif %}
    </div>      
  </div>
  </div>
</div>
{% schema %}
{
  "name": "end-sale-timer",
  "class": "end-sale-timer",
  "settings": [
    {
      "type": "text",
      "id": "head",
      "label": "Time Heading",
      "default": "Last chance! Sale ends Soon!"
    },
     {
    "type":"text",
    "id":"time",
    "label":"June 31, 2023",
    "info":"Date Format ( Dec 31, 2020 ) "
  }
  ],
  "presets":[{
    "name":"end-sale-timer"
  }]
}
{% endschema %}
