  
<div class="ct_product ct_mobile">
   <!-- <div class="ct_gift_box_html" style="display: none">
      
    </div> -->

  <div class="ct_gift_tab   ct_design_Gift_Main" style="display:none">
    
  </div>
</div> 


{% schema %}
{
   "name": "Gift 2",
  "class":"box_on_mobile",
   "settings": [],
   "presets":[{
         "name": "Gift BOX 2"
   }]
 }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
