<style>
  .wedding-contect-head {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 92px 0 32px 0;
}
  .wedding-contect-subText {
    color: #717171;
    text-align: center;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 22px;
}
  .wedding-contect-box-main {
    border: 2.02px dashed rgba(0, 0, 0, 0.25);
    padding: 34px 50px 50px 50px;
}
  .wedding-contect-box-main-per {
    display: flex;
    justify-content: center;
}
  .wedding-contect-box-main:first-child {
    margin-right: 50px;
}
  .weddcallbox img {
    width: 100%;
    max-width: 147px;
    height: 147px;
    margin-bottom: 20px;
}
  .weddLink {
    border-radius: 42.411px;
    border: 2.02px solid #CF2228;
    display: flex;
    width: 242.35px;
    padding: 20.196px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20.196px;
    flex-wrap: wrap;
    color: #CF2228;
font-family: Lato;
font-size: 30.294px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
  .weddcallbox {
    display: flex;
    justify-content: center;
}
.weblink_btn{
  background-color:#fff;
}
.weblink_btn:hover{
  background-color:#fff;
}
    @media(max-width:1100px){
.wedding-contect-head {
    font-size: 20px;
  font-weight:500;
    margin: 38px 0 16px 0;
}
    .wedding-contect-subText {
    font-size: 12px;
    margin-bottom: 12px;
}
      .weddcallbox img {
    max-width: 72px;
    height: 72px;
    margin-bottom: 10px;
}
      .weddLink {
    width: 120px;
    padding: 10px;
    font-size: 15px;
}
      .wedding-contect-box-main {
    padding: 17px 25px 25px 25px;
}
      .wedding-contect-box-main:first-child {
    margin-right: 25px;
}
    }
</style>
<script src="https://kushalsretailprivatelimited-org.freshchat.com/js/widget.js"></script>
<script>
  window.fcWidget.init({
    token: "9ae8f970-1669-4e10-b1d3-ffcda9112212",
	 host: "https://kushalsretailprivatelimited-org.freshchat.com"
    config: {
      headerProperty: {
        appName: 'Pingpong',
          hideChatButton: true,
      }
    }

  });

  
</script>





<div class="wedding-contect">
    <div class="wedding-contect-inner">
        <div class="wedding-contect-head">NEED ASSISTANCE?</div>
        <div class="wedding-contect-subText">Find the nearest store and talk to your stylist</div>

        <div class="wedding-contect-box-main-per">
        <div class="wedding-contect-box-main">
            <div class="wedding-contect-box">
                <div class="weddcallbox">
                  <img
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0796/1959/files/Group_300.png?v=1700748852"
              data-src="https://cdn.shopify.com/s/files/1/0796/1959/files/Group_300.png?v=1700748852"
              width="200"
              height="200"
              alt=""
              class="lazy lazyImage"
            >
                </div>
                <div class="weddcallboxlink">
                    <a href="tel:9591321696" class="weddLink" href="">Call</a>
                </div>
            </div>
        </div>
        <div class="wedding-contect-box-main">
            <div class="wedding-contect-box">
                <div class="weddcallbox">
                  <img
              loading="lazy"
              src="https://cdn.shopify.com/s/files/1/0796/1959/files/Group_299.png?v=1700748844"
              data-src="https://cdn.shopify.com/s/files/1/0796/1959/files/Group_299.png?v=1700748844"
              width="200"
              height="200"
              alt=""
              class="lazy lazyImage"
            >
                </div>
                <div class="weddcallboxlink">                      
                    <button class="weddLink weblink_btn" id="pingpongchat" onClick="window.fcWidget.open();">Chat</button>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>



{% schema %}
  {
    "name": "Wedding Contect Section",
    "settings": [],
    "presets":[{
          "name": "Wedding Contect Section"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}