<div class="container" style="margin:30px 0">
  <p>* The exchange and return policy for our online and offline stores will differ. Request you to refer the relevant terms and conditions for exchange.</p>
  
  <div class="tab-customize">
  <button class="tablinks-cus" onclick="openTab(event, 'tab-1')" id="tab-cus-active" >Online Store</button>
  <button class="tablinks-cus" onclick="openTab(event, 'tab-2')">Offline Stores</button>
</div>
<!-- Tab content -->
<div id="tab-1" class="tabcontent-cus">
  <center style="margin-bottom:20px"><h2>KUSHALS.COM EXCHANGE POLICY</h2></center>
  <hr>
   <p>We are dedicated to providing a safe shopping platform to make your shopping experience as simple as possible and hassle-free with us.
<br><br>
Please take the time to try out all the jewellery you have received. If you still decide on returning, we are happy to help you out with your return and refund process without any questions asked. 
<br><br>
You will have 15-days return period after you have received the products, and customers are requested to raise the return query within the given period of time. You can also reach out our customer support team anytime, to help you with any other issues related to your order, payment and shipment.
<br><br>
Please Note: Due to hygiene reasons Naths(Nose Pin) and Toe Rings are not Returnable.
<br><br>
Here is how you can easily return products
<br><br>
Go to Return Centre and fill out the returns form, and once you have requested the return you will receive an mail notifying the same. 
<br><br>
It usually takes 24 working hours for us to respond to your return request and schedule a reverse pick-up. We will send you a mail once the return request has been confirmed from our end with the instructions on how you can return the products.</p>
</div>
<div id="tab-2" class="tabcontent-cus ">
  <center style="margin-bottom:20px"><h2 style="text-transform:uppercase;">Instructions to fill our Return Form Inside Returns Centre</h2></center>
  <hr>
  <p>Instructions to fill our Return Form Inside Returns Centre</p>
  <ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Fill in your order number with the contact number and email.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Select the unused products that you would like to return.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Click a picture of the products you are returning and upload them.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Request Return Shipping From Kushal’s and submit.</span></li>
</ol>
  <p>The return shipment will be scheduled to the place where the products were initially delivered, and our delivery partner will examine the products at the time of pick-up.
<br><br>
Please Note: Kindly return the products with the original packaging and bill.
<br><br>
<b>Refund</b>
<br><br>
Refund will be processed to the same account from where the payment was made after the return shipment is received and examined at our facility. For all the COD orders a link will be sent to your registered mobile number, where you will have to fill in your bank details to redeem the refund amount. It usually takes 24 working hours to process the refund and it might take further 4-5 working days for the refund to reflect in your account.
<br><br>
<b>Do you offer Exchange?</b>
<br><br>
If you are looking for an exchange online, please request for the return of the product you have already received and place a fresh order on our website directly. Since our products are fast moving, we recommend placing immediate order as we do not want you to miss out on your favourite jewellery designs. If your order was a prepaid order, a full refund towards the returned products will initiated.
<br><br>
Alternatively, products purchased online can be exchanged at our Retail Kushal's Store within the 15 days of delivery.
<br><br>
Please Note: Refund for the returned products will initiate after the product is received and examined at our facility.
<br><br>
<b>Can I Cancel My Order</b>
<br><br>
You can request for the cancellation of the order by e-mailing us at hello@kushals.com. If in case the order is already been shipped, simply reject and return the products at the time of delivery.
<br><br>
<b>What if my order is International?</b>
    <br><br>
For all international orders kindly contact us at hello@kushals.com  or give a call at 9591321696. 
<br><br>
Please Note: To be eligible for Return, your products must be unused and has to be in the same condition as you received it, with the original Kushals packaging, tags and bill.</p>
</div>
</div>
<style>
.tab-customize {
  overflow: hidden;
  margin: 20px 0;
/*   border: 1px solid #ccc;
  background-color: #f1f1f1; */
}
.tab-customize button {
  background-color: inherit;
  float: left;
      border: 1px solid gray;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
  transition: 0.3s;
}
/* .tab-customize button:hover {
  background-color: #ddd;
} */
.tab-customize button.active {
/*   background-color: #ccc; */
  color:black;
  font-weight:bold;
}
  .tab-customize button {
  color:gray;
}
.tabcontent-cus {
  display: none;
  padding: 6px 12px;
/*   border: 1px solid #ccc; */
  border-top: none;
}
</style>